@using GitHubSearcher.Data

<div class="row justify-content-between">
    @if (Users != null)
    {
        @foreach (User user in Users)
        {
            <div class="col mb-4">
                <div class="card" style="width: 14rem;">
                    <div class="card-body">
                        <img class="img-fluid img-thumbnail mr-3" src="@user.GrabatarUrl" alt="Grabatar">
                        <div class="media-body">
                            <h5 class="card-title mt-4"><a href="@user.ProfileUrl" target="_blank">@user.UserName</a></h5>
                            <h6 class="card-subtitle text-muted mb-2 mt-2 ">Score: @user.Score</h6>
                            <a href="@user.ReposUrl" target="_blank" class="card-link">Sus repos</a>
                            <a href="@user.ProfileUrl" target="_blank" class="card-link">Su perfil</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
@code {
    [Parameter]
    public List<User> Users { get; set; }
}
